*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Classes auxiliares*/
header{
    padding: 8px 0;
}

.w50{
    width: 50%;
    float: left;
}

.w33{
    float: left;
    width: 33.3%;
}

.center{
    text-align: center;
}

.conteiner{
    max-width: 1024px;  
    margin: 0 auto;
    padding: 0 2%;
}
.clear{clear:both;}

/*Classes do site*/

.logo{
    float: left;
}
.logo h2{
    font-weight: normal;
    font-size: 23px;
}

nav.menu-mobile{
    display: none;
    float: right;
}
nav.menu-mobile h2{
    cursor: pointer;
}
nav.menu-mobile ul{
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    text-align: center;
}
nav.menu-mobile li{
    padding: 8px 0;
    border-bottom: 1px solid black;
}
nav.menu-mobile li.selected{
    background: rgb(225, 225, 255);
}
nav.menu-mobile a{
    display: block;
    color: black;
    text-decoration: none;
}
nav.menu-desktop{
    float: right;
}
nav.menu-desktop ul{
    position: relative;
    top: 8px;
}
nav.menu-desktop li{
    display: inline-block;
    font-weight: lighter;
    padding: 0 10px;
}
nav.menu-desktop li.selected{
    font-weight: normal;
    text-decoration: underline;
}
nav.menu-desktop a{
    color: black;
    text-decoration: none;
}nav.menu-desktop a:hover{text-decoration: underline;}

/*Sessão main*/
section.main-bg{
    position: relative;
    width: 100%;
    padding: 100px;
    background-image: url('../imagens/landscape.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
section.main-bg > .conteiner{
    position: relative;
    z-index: 2;
}
.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
}
section.main-bg h2{
    color: #44D4C5;
    font-size: 40px;
    font-weight: normal;
}
section.main-bg p{
    color: white;
    text-align: left;
    font-size: 17px;
    margin-top: 15px;
}

section.diferenciais{
    padding: 30px 0;
    text-align: center;
}
.line-text{
    color: #44D4C5;
    display: inline-block;
    position: relative;
}
.line-text div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #44D4C5;
}
.line-text h2{
    font-weight: normal;
    font-size: 27px;
}
.icone-diferenciais{
    margin-top: 30px;
}
.box-icone-single{
    float: left;
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.box-icone-single h2{
    color: rgb(97, 72, 26);
    font-size: 40px;
}
.box-icone-single p{
    color: #646464;
    font-weight: lighter;
    font-size: 16px;
}

section.sobre-equipe{
    padding: 30px 0;
    background: rgb(225,225,225);
}

section.sobre-equipe > .conteiner{
    display: flex;
}

.equipe-conteiner{
    width: 50%;
    flex-wrap: wrap;
}

.sobre-conteiner{
    width: 50%;
    flex-wrap: wrap;
}
.sobre-conteiner p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.img-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
}
.descricao-avatar{
    padding: 0 10px;
    width: calc(100% - 70px);
    display: inline-block;
}
.avatar-box{
    margin-top: 15px;
}

.descricao-avatar h3{
    color: rgb(30, 30, 30);
    font-weight: normal;
    font-style: italic;
}

.descricao-avatar p{
    color: rgb(30, 30, 30);
    font-weight: lighter;
}

section.inscricao{
    background: rgb(68, 211, 197);
    padding: 20px 0;
}

h2.inscricao-texto{
    font-weight: normal;
    color: white;
}

.inscricao-form input[type=text]{
    width: calc(100% - 120px);
    height: 40px;
    background: white;
    border: 1px solid #ccc;
    display: inline-block;
}
.inscricao-form input[type=submit]{
    width: 120px;
    height: 40px;
    background:#106c64;
    cursor: pointer;
    border: 0;
    color: white;
    font-weight: normal;
    font-size: 15px;
    display: inline-block;
}

section.cards{
    padding: 30px 0;
}
.card-single{
    width: 33.3%;
    float: left;
    padding: 50px;
}
.card-single img{
    width: 100%;
}
.card-single h3{
    font-weight: normal;
    font-size: 19px;
}
.card-single p{
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

footer.footer1{
    background: #52aaa7;
    padding: 20px 0;
    color: white;
}

footer.footer1 h3{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}

footer.footer1 a{
    display: block;
    color: white;
}

div.group-icons a{
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
}
.fa{margin-right: 10px;}

footer.footer2{
    padding: 15px 0;
    background: #237a70;
    text-align: center;
    color: white;
}

section.title-page{
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

div.overlay__title-page{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
section.title-page > div.conteiner{
    position: relative;
    z-index: 101;
}
section.title-page h3{
    color: #44d4c5;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

section.title-page p{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}

/*Sobre conteiner da notícia*/
section.sobre__noticia{
    padding: 30px 0;
}

div.sobre_single_noticia img{
    max-width: 100%;
    float: left;
    width: 50%;
}

div.sobre_single_noticia p{
    float: left;
    width: 50%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 25px;
}

/*Efeito parallax na página sobre*/
section.parallax{
    padding: 30px 0;
    width: 100%;
    min-height: 200px;
    background-image: url('../imagens/landscape.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

section.parallax h2.chamada-parallax{
    border: 1px solid #44d4c5;
    padding: 5px 25px;
    color: #44D4C5;
    font-size: 18px;
    display: inline-block;
}

section.parallax p{
    color: white;
    margin-top: 10px;
}

/*Equipe*/

section.equipe{
    padding: 40px 0;
}

div.equipe-circles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
div.equipe-circle-single{
    padding: 0 20px;
    text-align: center;
    width: 33.3%;
}
.equipe-circle-single h3{
    margin-top: 8px;
    font-size: 20px;
    font-weight: normal;
}

.equipe-circle-single p{
    font-weight: lighter;
}

.avatar-single{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
    background: #ccc;
    background-size: 100% 100%;

}

.avatar-single-conteiner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

section.sobre_final{
    background: rgb(230, 230, 230);
    border-top: 2px solid rgb( 210, 210, 210);
    padding: 20px 0;
}
section.sobre_final p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
}
.card-text{
    margin-top: 10px;
    width: 80%;
    position: relative;
}
.card-text img{
    max-width: 100%;
} 
.card-text h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

@media (max-width: 768px){
    .card-single{width: 100%;}
    footer.footer1{
        text-align: center;
    }
    .w50, .w33{width: 100%; margin-bottom: 20px;}
    .box-icone-single{
        width: 100%;
    }
    .equipe-conteiner{
        width: 100%;
    }
    .sobre-conteiner{
        width: 100%;
        margin-top: 60px;
    }
    div.sobre_single_noticia img{width: 100%;}
    div.sobre_single_noticia p{width: 100%;}
}

@media (max-width: 500px){
    .card-text{width: 100%;}
    .equipe-circle-single{
        width: 100%;
        padding: 0 8px;
        margin-bottom: 30px;
    }
    nav.menu-desktop{display: none;}
    nav.menu-mobile{
        display: block;
    }
    .card-single{
        padding: 10px;
    }
}
